Source: cub
Section: devel
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: http://nvlabs.github.io/cub
Vcs-Git: git://github.com/kernsuite-debian/cub.git
Vcs-Browser: https://github.com/kernsuite-debian/cub

Package: cub-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  flexible library of cooperative threadblock primitives and other
 utilities for CUDA kernel programming
